.App {
  text-align: center;
  
}

.table-data{
  display: flex;
  justify-content: center;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
th,td {
  padding: 12px 15px;
  border: 2px solid #4CAF50; /* Green border color */
}
th {
  background-color: #c0e99a;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
.search-input {
  width: 350px;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:hover {
  border-color: #888;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: #555;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}